<div class="container" style="margin-top:60px">
    <div class="well">
        <form method="post" action="/Home/SignUp">
            <input type="text" name="FirstName" placeholder="First Name" class="form-control" />
            <br />
            <input type="text" name="LastName" placeholder="Last Name" class="form-control" />
            <br />
            <input type="text" name="EmailAddress" placeholder="Email Address" class="form-control" />
            <br />
            <input type="password" name="Password" placeholder="Password" class="form-control" />
            <br />
            <button class="btn btn-success">Sign Up</button>
        </form>
    </div>
</div>

